$def with (name, str1, pages, list, current_page)

$var title: 值班记录
$var css:
$var js: 
$var name: $'|'.join(str1) $name
$var load: 
$var menu: #duty1


<div class="caption"><h2>值班记录</h2></div>

<div class="article_box">
    <span><a class="abtn" href="/duty/edit">新建值班记录</a></span>&nbsp;&nbsp;
    <span style="float: right;">值班人姓名：<input type="text" id="name" value="" />
    <input type="button" id="search" value="搜索" /></span>
</div>

<script type="text/javascript">
$$(function(){
    $$('#search').click(function(){
        var name = encodeURIComponent($$("#name").val());

        location="/duty/list?name="+name;
    });
});
</script>

<div class="article_box">

<table class="props_tb">
<thead>
    <tr class="even">
        <th>值班日期</th>
        <th>值班人</th>
        <th>重大事件</th>
        <th>交接人</th>
        <th>交接状态</th>
        <th width="180px">交接时间</th>
    </tr>
</thead>
<tbody>
$for u in list:
    <tr>
        <td><a href="/duty/edit?duty_id=$u['_id']">$u.get('duty_date', '')</a></td>
        <td>$u.get('duty_name', '')</td>
        <td>$u.get('system_big_issue', 0)</td>
        <td>$u.get('next_name', 0)</td>
        <td>$u.get('status_duty', 0)</td>
        <td>$u.get('confirm_t', ' ')</td>
    </tr>
</tbody>
</table>


</div>
<br/>
<div class="article_box">
    页码：
    $for x in pages:
        $if x!=current_page:
            <a href="/duty/list?page=$x">$(x+1)</a>&nbsp;&nbsp;
        $else:
            <b>$(x+1)</b>&nbsp;&nbsp;
</div>

