$def with (name, str1, pages, list, current_page)

$var title: 应聘人员信息表
$var css:
$var js: 
$var name: $'|'.join(str1) $name
$var load: 
$var menu: #jobl1


<div class="caption"><h2>应聘人员信息表</h2></div>

<div class="article_box">
    <span style="float: right;">姓名：<input type="text" id="name" value="" />
    <input type="button" id="search" value="搜索" /></span>
</div>

<script type="text/javascript">
$$(function(){
    $$('#search').click(function(){
        var name = encodeURIComponent($$("#name").val());

        location="/job_admin/list?name="+name;
    });
});
</script>

<div class="article_box">

<table class="props_tb">
<thead>
  <tr class="even">
    <th>姓名</th>
    <th>性别</th>
    <th>年龄</th>
    <th>申报岗位</th>
    <th>现工作单位</th>
    <th>职称</th>
    <th>职务</th>
    <th width="180px">填报时间</th>
  </tr>
</thead>
<tbody>
$for u in list:
  <tr>
  <td><a href="/job_admin/detail?id=$u['_id']">$u.get('xm', '')</a></td>
  <td>$u.get('xb', '')</td>
  <td>$u.get('nl', '')</td>
  <td>$u.get('sbgw', ['',''])[1]</td>
  <td>$u.get('xgzdw', '')</td>
  <td>$u.get('zyjszg', ' ')[1]</td>
  <td>$u.get('xspzyjszw', ' ')[1]</td>
  <td>$u.get('submit_time', '')</td>
  </tr>
</tbody>
</table>


</div>
<br/>
<div class="article_box">
    页码：
    $for x in pages:
      $if x!=current_page:
        <a href="/job_admin/list?page=$x">$(x+1)</a>&nbsp;&nbsp;
      $else:
        <b>$(x+1)</b>&nbsp;&nbsp;
</div>

