$def with (name, str1, result=['-'])

$var title: 首页
$var css:
$var js: 
$var name: $'|'.join(str1) $name
$var load:
$var menu: #home

<div class="caption"><h2>trouble 管理平台</h2></div>

<div class="mod_desc">
<p>欢迎使用管理平台！</p>
</div>

<dl class="feature">
        <dt>常用电话</dt>
        <dd>13313810736 林水妹（东华）</dd>
        <dd>15705950132 郭文芳（东华）</dd>
        <dd>18713579773 贾振阳（东华）</dd>
        <dd>15955130075 孙伟哲（东华）</dd>
        <dd>18500401373 吕声韦（东华）</dd>
        <dd>15259809158 赖素萍（东华）</dd>
        <dd>18859519975 骆金河（易联众）</dd>
        <dd>13705069166 郑登增（PACS）</dd>
        <dd>13860182750 叶财云（飓浪）</dd>
</dl>

<dl class="feature">
        <dt>最新消息</dt>
        <dd>2019-05-01 项目开始</dd>
</dl>

<div class="article_box">
<div></div> 
</div>

