$def with (name, str1, sku, image_list, user_list)

$var title: 问题处理
$var css: /static/js/summernote/summernote-lite.css
$var name: $'|'.join(str1) $name
$var js: /static/js/summernote/summernote-lite.js /static/js/summernote/lang/summernote-zh-CN.js /static/js/resumable.js /static/js/upload_pic.js?v=1.2
$var load: first_do();doFirst_pic();
$var menu: #tiop1

<script type="text/javascript">
function first_do(){
    /* init rich_text input */
    $$('#rich_detail').summernote({
        placeholder: '输入文本内容',
        tabsize: 4,
        height: 200,
        lang: 'zh-CN'
    });

    var rich_text = $$("#detail").val();
    $$('#rich_detail').summernote("code", rich_text);

    $$('#submit').click(function(){
        var rich_text = $$('#rich_detail').summernote('code');
        $$("#detail").val(rich_text);
        $$("form#new_sku").submit();
    });

}
</script>

$if sku['follow_id']=='n/a':
    <div class="caption"><h2>新增回复</h2></div>
$else:
    <div class="caption"><h2>修改回复</h2></div>


<form name="new_sku" id="new_sku" method="post" action="/ticket/follow">
<input type="hidden" name="ticket_id" value="$sku['ticket_id']"/>
<input type="hidden" name="follow_id" value="$sku['follow_id']"/>
<input type="hidden" name="detail" id="detail" value="$sku.get('detail','')"/>
<input type="hidden" name="image" id="form_image" value=""/>

<table class="props_tb">
<thead>
    <tr class="even">
        <th width="20%"> </th>
        <th width="40%"> </th>
        <th width="40%"> </th>
    </tr>
</thead>
<tbody>


<tr>
    <td>回复内容</td>
    <td colspan="2" style="text-align: left;">
        <div id="rich_detail" style="width:80%;clean:both;"></div>
    </td>
</tr>


<tr><td>回复人</td><td colspan="2" style="text-align: left;">
    $user_list[sku['follow_uid']]
    </td></tr>

<tr>
    <td>上传附件</td>
    <td colspan="2" style="text-align: left;">
        <div>
            <a class="abtn" href="javascript:void(0);" id="picBrowseButton">上传文件</a>（单个文件不超过20MB）
            <ul id="image-list">
                $for i in image_list:
                    $if len(i)>0:
                        <li id="$(i[0].replace('.','_'))" style="text-align: left;">
                            <a href="/static/upload/$(i[0][:2])/$i[0]" target="_blank">$i[1]</a>
                            <button onclick="remove_image('$(i[0].replace('.','_'))');return false;">删除</button>
                        </li>
            </ul>
        </div>
    </td>
</tr>


</tbody></table>

<p>
    <input type="submit" name="submit" id="submit" value="保存"/>
    <input type="button" name="cancel" value="返回" onclick="history.go(-1);" />
<p>
</form>


<br/>

